<div class="container">
    <div class="form">
        <mat-form-field class="full-width input">
            <mat-label>Team Name</mat-label>
            <input matInput required (input)="nameInputHandler($event)" value="{{ name }}" />
        </mat-form-field>
        <mat-list>
            <mat-list-item class="list__item" role="listitem">
                <div class="img__cover">
                    <img class="img" src="https://img.kaiheila.cn/emojis/5235203156208166/0143387bb3d4520go0go.png" />
                </div>
                <div></div>
            </mat-list-item>
            <mat-list-item class="list__item" role="listitem">Item 2</mat-list-item>
            <mat-list-item class="list__item" role="listitem">Item 3</mat-list-item>
        </mat-list>

        <button class="submit" mat-stroked-button>Submit</button>
    </div>
</div>