.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 5rem;
}

.full-width {
    width: 100%;
}

.players {
    display: flex;
    gap: 2rem;
}

.container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.list__item {
    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding: 2rem 0;
    }
}

.submit {
    margin-top: 2rem;
}

.img {
    width: 100%;
    &__cover {
        height: 100%;
    }
}