<div class="container">
    <div class="player" id="{{ player._id }}" (mouseover)="hovering = player._id" (mouseleave)="hovering = null" *ngFor="let player of allPlayers">
        <div class="controller" *ngIf="hovering == player._id">
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="deleteHandler(player._id)">
        <mat-icon>delete</mat-icon>
      </button>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>edit</mat-icon>
      </button>
        </div>
        <div class="image__container">
            <img class="image" src="{{ player?.image }}" />
        </div>
        <div class="name">
            {{ player?.name }} {{ player?.surname }}
            <span class="role">{{ player?.role }}</span>
        </div>
        <div class="details details--1">
            <span class="key">Age</span>
            <span class="value"> {{ player?.age }} </span>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="details">
            <span class="key">Club</span>
            <span class="value"> {{ player?.club }} </span>
        </div>
    </div>
</div>