<mat-card class="mainCover">
  <mat-card-title
    >{{ teamData?.name || "untitled" }}
    <button
      mat-icon-button
      color="primary"
      (click)="editName(teamData!._id)"
      *ngIf="isEditMode"
      class="editName"
    >
      <mat-icon>edit</mat-icon>
    </button></mat-card-title
  >
  <mat-card-content class="playersContainer">
    <div class="playerCard" *ngFor="let player of players">
      <button
        mat-mini-fab
        color="warn"
        (click)="deletePlayer(teamData!._id, player!._id)"
        *ngIf="isEditMode"
        class="deletePlayerButton"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <img
        class="image"
        mat-card-md-image
        src="{{
          player?.image ||
            'https://img.kaiheila.cn/emojis/5235203156208166/0143387bb3d4520go0go.png'
        }}"
      />
      <h3 class="name">
        {{ player?.name || "Deleted" }} {{ player?.surname || "Player" }}
      </h3>
      <div class="role">{{ player?.role || "unknown" }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="editTeam(teamData!._id)"
      *ngIf="!isEditMode"
    >
      Edit Team
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-flat-button
      color="warn"
      (click)="deleteTeam(teamData!._id)"
      *ngIf="!isEditMode"
    >
      Delete Team
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-flat-button
      color="primary"
      (click)="addPlayer(teamData!._id)"
      *ngIf="isEditMode"
    >
      Add Player
      <mat-icon>add</mat-icon>
    </button>

    <button
      mat-flat-button
      color="warn"
      (click)="cancelEdit(teamData!._id)"
      *ngIf="isEditMode"
    >
      Exit Edit Mode
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
