<mat-toolbar color="primary">
    <button mat-button color="link" (click)="playersRedirectHandler()">
    Players
  </button>
    <button mat-button color="link" (click)="teamsRedirectHandler()">
    Teams
  </button>
    <span class="example-spacer"></span>

    <button mat-button color="link" (click)="createPlayerRedirectHandler()">
    Create Player
    <mat-icon>add</mat-icon>
  </button>

    <button mat-button color="link" (click)="createTeamRedirectHandler()">
    Create Team
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>